.links {
  background-color: lightskyblue;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #343a40;
  color: #fff;
  padding: 25px;
  width: 100%;
}

footer p {
  margin: 0;
}

@media (max-width: 500px) {
  .break {
    width: 75% !important;
  }
  .container {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .button-text {
    font-size: 1.2rem;
  }
  .nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
